@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global Reset */
* {
  box-sizing: border-box;
  overflow-wrap: break-word;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Dosis';
}

.icon-block svg {
  width: 100%;
  height: 100%;                           
}

/* Team Cards Container */
.team-cards-inner-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  row-gap: 20px;
  column-gap: 20px;
}

/* Resetting text block */
.text-blk {
  margin: 0;
  padding: 0;
  line-height: 25px;
}

/* Card Container */
.card-container {
  max-width: 400px;
  height: 200px;
  cursor: pointer;
}

.card {
  background-color: #fff;
  display: flex;
  padding: 16px;
  box-shadow: rgba(95, 95, 95, 0.1) 6px 12px 24px;
  border-radius: 15px;
width: 100%;
  height: 100%;
}

/* Card Content Box */
.card-content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

/* Person Name */
.person-name {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 5px 0;
}

/* Person Info */
.person-info {
  font-size: 11px;
  line-height: 15px;
}

/* Outer Container */
.outer-container {
  display: flex;
  justify-content: center;
  padding: 0 50px;
  align-items: center;
  background-color: #f2f7ff;
}
.inner-container {
  max-width: 70%;
}
.img-box{
  width:45%;
}
/* Person Image */
.person-img {
  width: 80%;
  height: 80%;
  border-radius: 6px;
}

/* Card Hover Animation */
.card-container:hover {
  animation: bounce 3s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
@media screen and (max-width: 1400px){
  .inner-container {
    max-width: 90%;
  }
}
@media screen and (max-width: 1133px){
  .team-cards-inner-container {
    grid-template-columns: 1fr 1fr;
  }
  .card-container {
    max-width: 100%;
  }
  .card {
    width: 100%;
  }
}

@media screen and (max-width: 768px){
  .team-cards-inner-container {
    grid-template-columns: 1fr;
  }
  .card-container {
    max-width: 100%;
  }
  .card {
    width: 100%;
  }
}
@media screen and (max-width: 576px){
  .inner-container {
    max-width: 100%;
  }
}
@media screen and (max-width: 576px){
  .outer-container{
  padding: 0 10px;
  }
}