@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global Reset */
* {
  box-sizing: border-box;
  overflow-wrap: break-word;
  margin: 0;
}

/* Fonts */
body {
  font-family: 'Roboto', 'Poppins', 'Arial', "sans-serif";
}

/* Headings */
h2 {
  color: #ec1b23;
}

/* Unordered List */
.story-section ul {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 40px;
}

/* Anchors */
.story-section a {
  text-decoration: none;
  color: gray;
  font-size: 20px;
  font-weight: 50;
  padding: 0 10px;
}

.story-section a:hover {
  background-color: #ec1b23;
  color: white;
  cursor: pointer;
  transition: background-color 0.4s ease;
}


/* Upper Text Content */
.upper-text-content {
  padding: 50px;
  text-align: center;
  background-color: #ececec;
  font-weight: 400;
}

/* Headings */
.heading,
.heading-leadership,
.heading-values {
  text-align: center;
  padding: 20px 0;
  color: #ec1b23;
  background-color: #ececec;
}

.heading {
  background-color: #fff;
}

.heading.first-child {
  background-color: #ececec;
}

.heading-leadership {
  background-color: #fff;
}

/* Carousels */
.MultiCarousel,
.MultiCarousel1 {
  overflow: hidden;
  padding: 15px;
  width: 100%;
  position: relative;
  height: 300px;
}

.MultiCarousel1 {
  height: 400px
}

.MultiCarousel {
  background-color: #ececec;
}

.MultiCarousel .MultiCarousel-inner,
.MultiCarousel1 .MultiCarousel-inner1 {
  transition: 1s ease all;
  float: left;
}

.MultiCarousel .MultiCarousel-inner .item,
.MultiCarousel1 .MultiCarousel-inner1 .item1 {
  float: left;
}



.MultiCarousel .leftLst,
.MultiCarousel .rightLst,
.MultiCarousel1 .leftLst1,
.MultiCarousel1 .rightLst1 {
  position: absolute;
  border: none;
  top: calc(50% - 20px);
  background: transparent;
}

.MultiCarousel .leftLst,
.MultiCarousel1 .leftLst1 {
  left: 0;
}

.MultiCarousel .rightLst,
.MultiCarousel1 .rightLst1 {
  right: 0;
}

.MultiCarousel .leftLst.over,
.MultiCarousel .rightLst.over,
.MultiCarousel1 .leftLst1.over,
.MultiCarousel1 .rightLst1.over {
  pointer-events: none;
  display: none;
}

/* Carousels Images */
.carousel-img-story,
.carousel-img-story1 {
  height: calc(100vh / 3);
  object-fit: cover;
  transition-duration: 800ms;
  object-position: top;
  width: calc(100vh / 3);
  display: block;
  margin: 0 auto;
  text-align: center;
  border-radius: 100%;
}

.carousel-img-story {
  filter: grayscale(100%);
  transform: scale(0.8);
}


.carousel-img-story:hover {
  filter: unset;
  transform: scale(1.1);
  cursor: pointer;
}


/* Transparent Text */
.pad15,
.MultiCarousel .MultiCarousel-inner .item>div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 70px;
  width: 400px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  background: transparent;
  color: #666;
}

.transparent-text {
  position: absolute;
  background: rgb(0, 0, 0);
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: 2px;
  background-clip: text;
  color: rgb(255, 255, 255);
  font-size: 45px;
  letter-spacing: 0.5em;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  transition-duration: 800ms;
  top: -50px
}

.transparent-text:hover {
  -webkit-text-fill-color: unset;
  -webkit-text-stroke-width: unset;
  -webkit-text-stroke-color: unset;
  top: -30px;
  background-clip: text;
  color: #ec1b23;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.transparent-text1 {
  position: absolute;
  top: -10px;
  -webkit-text-fill-color: unset;
  -webkit-text-stroke-width: unset;
  -webkit-text-stroke-color: unset;
  background-clip: text;
  color: #ec1b23;
  font-weight: 700;
  text-align: center;
  font-size: 45px;
  letter-spacing: 0.5em;
}

/* Red Line */
.red-line {
  width: 100%;
  height: 2px;
  background-color: #ec1b23;
  top: 220px;
  position: absolute;
}

/* Vision and Mission */
.vision-mission {
  background: url("../images/siteImages/about-vision-bg.jpg");
  display: flex;
  color: white;
  height: 320px;
  width: 100%;
  text-align: center;
  justify-content: center;
  font-weight: 400;
}

.vision-mission-cont {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: table;
  width: 50%;
  padding: 20px;
  margin-top: 20px;
}

/* Our Story */
.our-story {
  font-size: 18px;
  align-items: center;
  text-align: center;
  padding: 0 40px;
  margin: 20px;
  font-weight: 300;
}



/* Leadership Section */
.container-leadership-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.leadership-section {
  margin-top: 50px;

}


.leader-container-card {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 50px;
  column-gap: 20px;
  margin-top: 30px;

}

.title1 {
  text-align: center;
}

/* Person Leader Card */
.person-leader-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-wrap: wrap;
  overflow: hidden;
}

.person-leader-card img {
  height: calc(100vh / 2 + 2rem);
  object-fit: cover;
  object-position: top;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Icons */
.vision-img,
.mission-img,
.carousel-img {
  height: 60px;
  width: 60px;
}

@media screen and (max-width: 768px) {
  .person-leader-card img {
    height: 400px;
  }
  .our-story {
    margin: 20px 10px;
  }
}
@media screen and (max-width: 576px) {
  .person-leader-card img {
    height: 450px;
  }
}