body, table {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    font-size: 14px;
}



.navigation {
    margin-bottom: 20px;
}

.navigation a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.navigation a:hover {
    background-color: #ddd;
}
.buttons{
    display: flex;
}


.container {
    width: 80%;
    margin: 0 auto;
}

.navigation {
    margin-bottom: 20px;
}

.navigation a {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
}

.content {
    border: 1px solid #ccc;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
    padding: 10px;
}

th {
    background-color: #f2f2f2;
}


/* Style the table */
table {
    width: 100%;
    border-collapse: collapse;
}

/* Style table header */
th {
    background-color: #cdcdcd;
    padding: 10px;
    text-align: left;
}

/* Style table rows */
tr:nth-child(even) {
    background-color: #f9f9f9;
}


td {
    padding: 10px;
}

h2 {
    margin-top: 20px;
}


td:last-child {
    text-align: center;
}


tr:hover {
    background-color: #f5f4f4;
}

.accept {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 4px;
    
}


.reject {
    background-color: #f44336; 
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}

.error-message {
    background-color: #ffdddd;
    color: #ff0000;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ff0000;
    border-radius: 5px;
}
